* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .times {
    width: 100%;
    height: 100vh;
    background-color: rgb(19, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.time_box {
    width: 60%;
    border: 15px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    color: rgb(77, 255, 0);
    font-size: 100px;
    padding: 10px;
    text-shadow: 0 0 20px rgb(55, 255, 0);
}

span {
    color: #000;
}

.box {
    margin: 0 20px;
    width: 100px;
    height: 150px;
    background-color: #000;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .time_data{
    width: 100%;
    height: 100%;
    background-color: rgb(19, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;
} 
 .data {
    width: 50%;
    margin-top: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-shadow: 0 0 20px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 70px;
    padding: 10px;
}
.data span{
    color: rgb(255, 255, 255);
} 

@media (max-width: 730px){
  .box {
    margin: 0 8px;
    width: 90px;
    height: 100px;
}
.time_box {
  width: 60%;
  font-size: 70px;
  padding: 10px;
}
}
@media (max-width: 580px){
  .box {
    margin: 0 8px;
    width: 70px;
    height: 80px;
}
.time_box {
  width: 60%;
  font-size: 50px;
  padding: 10px;
}
.data {
  margin-top: 20px;
  font-size: 50px;

}
}
@media (max-width: 445px){
  .box {
    margin: 0 8px;
    width: 50px;
    height: 60px;
}
.time_box {
  width: 60%;
  font-size: 30px;
  padding: 10px;
}
.data {
  margin-top: 20px;
  font-size: 30px;

}
}
/* loader............................................... */
/* 
 img{
    width: 100%;
    
}
.loader{
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: linear-gradient(120deg, rgb(0, 44, 0), rgb(2, 42, 42), rgb(2, 5, 42));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.8s ease;
}
.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  } 


  body{
    display: flex;
    align-items: center;
    justify-content: center;
  }

form{
  width: 500px;
  height: 400px;
  background: darkcyan;
  box-shadow:0 0 10px rgb(0, 0, 0, 0,5);
  display: flex;
  align-items: center;
  flex-direction: column;
}
h2{
  text-align: center;
  color: white;
  padding-top: 60px;
}
input{
  width: 80%;
  margin: 20px auto;
  height: 35px;
  border: none;
  outline: none;
  font-size: 18px;
  letter-spacing: 1.9px;
  padding: 0 5px;
}
button{
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  background: aqua;
  cursor: pointer;
}
























*/

  @keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  } 